*{
    text-decoration: none;
    color: white;
}
#navbar{
    background-color: rgb(17, 17, 46);
     border: 2px solid #000;
     /* border-radius: 10px; */
     height: 50px;
     display: flex;
    justify-content: space-evenly;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    margin-top: 0%;
    }

#navbar2{
     border: 2px solid #000;
     /* border-radius: 10px; */
     height: 35px;
     display: flex;
    margin-left: 0px;
    margin-top: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: black;
    background-color: rgb(23, 23, 95);
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top:0%;
}

#search{
    width: 800px;
    height: 25px;
    
}

#all{
    height: 30px;
    margin: 00%;
    margin-top: 10px;
    
}

#search-bar{
    margin: 0%;
    height: 30px;   
}

#EN{
    height: 30px;
    margin-top: 10px;
}

#cart{
    margin-top: 20px;
    height: 100px;
}

#logo{
    margin-top: 13px;
    height: 35px;
}

#subnav{
    margin-left: 0px;
    margin-top: -10px;
    display: flex;
    width: 850px;
    justify-content: space-evenly;
    text-decoration: none;
    color: black;
}

#main_page{
    height: 700px;
    width: 1500px;
    border: black, 2px, solid;
    margin-right: auto;
    margin: auto;
     background-image: url(img_1.jpg);
     background-size: cover;
     z-index: -1;
     display: flex;
     justify-content: space-evenly;
}

/* #main_page2{
    height: 300px;
    width: 250px;
    border: 2px, white, solid;
} */

.main_page{
    height: 600px;
    width: 1500px;
    border: 2px, rgb(0, 0, 0), solid;
    margin: auto;
    background-image: url(img_1.jpg);
    background-size: cover;
    z-index: -5;
    display: flex;
    justify-content: space-around;
}

.main_page_div{
 border: black, 2px, solid;
 height: 300px;
 width: 300px;
}